<ion-grid>
  <ion-row>
    <ion-col>
      <ion-textarea rows="5" placeholder="add discription here"></ion-textarea>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="Hours"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder="Rate"></ion-input>
        </ion-col>
        <ion-col>
          <button ion-button >
            Add Labor
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      labor description
      <ion-row>
        <ion-col>hours</ion-col>
        <ion-col>rate</ion-col>
        <ion-col>total</ion-col>
        <ion-col>remove</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>