<form [formGroup]="laborForm" (ngSubmit)="add(laborForm.value)">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-textarea rows="2" placeholder="add labor discription here" formControlName="description"></ion-textarea>
      </ion-col>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <ion-input type="text" placeholder="Hours" formControlName="hours"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="text" placeholder="Rate" formControlName="rate"></ion-input>
          </ion-col>
          <ion-col>
            {{laborForm.value.hours*laborForm.value.rate}}
          </ion-col>
          <ion-col>
            <button ion-button type="submit" [disabled]="!laborForm.valid">
              Add
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row align-items-center *ngIf="laborarr.length>0">
      <b>Total Labor Cost</b>: {{cost()}} </ion-row>
    <ion-row *ngFor="let labor of laborarr;let idx=index">
      <ion-col>
        {{labor.description}}
      </ion-col>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>{{labor.hours}}</ion-col>
          <ion-col>{{labor.rate}}</ion-col>
          <ion-col>{{labor.hours*labor.rate}}</ion-col>
          <ion-col>
            <button ion-button icon-only clear type="button" (click)="delete(idx)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</form>