<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>DM Tasks
      <ion-badge color="danger">{{(wos|async).length}}</ion-badge>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!(appsettings|async).offline">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab bottom right>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let wo of wos|async; let i=index">
      <ion-item no-lines [ngClass]="{'bottom-border': true, 'closed':wo.techstatus=='closed'}" (tap)="showDetail(wo,i)">
        <ion-row>
          <ion-col>
            <h1 [style.color]="priority[wo.priority]">{{wo.requestid}}</h1>
          </ion-col>
          <ion-col>
            <ion-icon name="md-create" *ngIf="wo?.userTouched?.signature" style="color:green"></ion-icon>
            <span *ngIf="!!wo?.userTouched?.labor">{{wo.userTouched.labor|timeUsed}}</span>
            <wip #wip [startTime]="wo?.userTouched?.localWipSt"></wip>
          </ion-col>
          <ion-col text-right>
            <h3>{{wo.scheduleddate|date:'MM/dd/yyyy'}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>{{wo.requesttype}} / {{wo.request}}</h2>
            <h3>{{wo.building}} / {{wo.floor}} / {{wo.room}}</h3>
            <p text-wrap>{{wo.description}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options *ngIf="wo.techstatus!='closed'">
        <button ion-button color="light" icon-start (click)="toggleWip(wo)">
          <ion-icon name="ios-clock-outline"></ion-icon>
          WIP
        </button>
        <button ion-button color="light" icon-start (click)="signWO(wo)">
          <ion-icon name="md-create"></ion-icon>
          Sign
        </button>
        <button ion-button color="light" icon-start (click)="closeWO(wo)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
          Close
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>