<ion-header>
  <!-- <ion-navbar text-center hideBackButton> -->
  <ion-navbar text-center color="primary">
    <ion-title>DM {{rs?.requestid}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="section" color="dark">
      <ion-segment-button value="detailView">
        Details
      </ion-segment-button>
      <ion-segment-button value="laborView">
        Labor
      </ion-segment-button>
      <ion-segment-button value="partsView">
        Parts
      </ion-segment-button>
      <ion-segment-button value="attachmentsView" *ngIf="dox.length>0">
        <ion-icon name="attach"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="rs">
  <div (swipe)="swipeEvent($event)" style="height:100%">
    <div [ngSwitch]="section">
      <div *ngSwitchCase="'detailView'">
        <ion-card>
          <ion-card-header>
            Edit / Update
          </ion-card-header>
          <ion-card-content>

            <ion-item>
              <ion-label>Tech Status</ion-label>
              <ion-select [(ngModel)]="gaming">
                <ion-option *ngFor="let status of statusTypes" [value]="status.type" [selected]="status.type==rs.techstatus">
                  {{status.type}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Tech comments" rows="2"></ion-textarea>
            </ion-item>
            <ion-item>
              <button ion-button color="primary" item-end icon-left outline>
                <ion-icon name='ios-send'></ion-icon>Save
              </button>
            </ion-item>

          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            Requester
          </ion-card-header>
          <ion-card-content>
            <p>{{rs.reqfname}} {{rs.reqlname}}</p>
            <div>
              <ion-icon name="call" item-start></ion-icon> {{rs.reqphone}}</div>
            <div>
              <ion-icon name="mail" item-start></ion-icon>
              <a href="mailto:{{rs.reqemail}}">{{rs.reqemail}}</a>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header [style.color]="priority[rs.priority]">
            Task Details
            <ion-note float-right>{{rs.scheduleddate|date:'MM/dd/yyyy'}}</ion-note>
          </ion-card-header>
          <ion-card-content>
            <p>
              {{rs.requesttype}} / {{rs.request}}
            </p>
            <p>
              {{rs.building}} / {{rs.floor}} / {{rs.room}}
            </p>
            <p>
              {{rs.description}}
            </p>
            <h2>Tech Comments</h2>
            <p>
              {{rs.techcomments}}
            </p>
          </ion-card-content>
        </ion-card>

      </div>
      <div *ngSwitchCase="'laborView'">
        <labor [(data)]="laborarr"></labor>
      </div>
      <div *ngSwitchCase="'partsView'">
        Parts
      </div>
      <div *ngSwitchCase="'attachmentsView'">
        <documents [dox]="dox"></documents>
      </div>
    </div>
  </div>
</ion-content>