wip {
    .digit{
        background: rgb(65, 65, 61);
        color: rgb(255, 255, 255);
        padding: 2pt
    }
    .ib{
        display:inline-block;text-align:center;
        box-shadow: inset 0px 0px 40px 40px rgb(63, 63, 60);
        border-radius: 5px;
    }
}
