wip {
    .digit{
        color: rgb(255, 255, 255);
        padding: 2pt;
        display:inline-block;text-align:center;
        background-color: #746f6f;
        box-shadow: 2px 2px 5px #aaaaaa;
        border-radius: 5px;
    }
}
